*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", Sans-serif;
  list-style: none;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
/*-------------------HEADER-------------------*/
.banner{
  align-items: center;
  background-color: ghostwhite;
  display: grid;
  padding: 2.5vw;
}
.banner img{
  width: 16vw;
}
.banner img:hover{
  transition: 1s;
  transform: scale(1.2);
}
.banner label{
  display: block;
  justify-self: end;
  text-align: center;
}
.banner label img{
  width: 12vw;
}
.side-menu, input{
  display: none;
}
.banner input:checked ~ nav .side-menu{
  display: block;
  margin-top: 6vw;
}
nav{
  font-size: 4.5vw;
  grid-column: 1/3;
  text-align: center;
  text-transform: uppercase;
}
header picture{
  position: relative;
}
header p{
  text-align: center;
  color: white;
  bottom: 25vw;
  left: 5vw;
  position: absolute;
  width: 90vw;
}
/*-------------------CONTENIDO-------------------*/
article h2{
  text-align: center;
  font-weight: 700;
  margin: 4vw 0 0;
}
article div{
  background-color: black;
  color: white;
  height: 95vw;
  bottom: 18vw;
  z-index: -1;
  position: relative;
  transform: skewY(-22deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
article div p{
  margin: 3vw;
  text-align: center;
  width: 95vw;
  transform: skewY(22deg);
}
article:nth-of-type(2) div{
  bottom: 1vw;
  margin-bottom: 20vw;
}
/*-------------------PIE DE PAGINA-------------------*/
footer{
  background: #ededed;
  position: absolute;
  top: 910.5vw;
  display: flex;
  flex-direction: column;
}
footer>*{
  margin-top: 5vw;
}
footer hr{
  width: 60vw;
  margin: 5vw auto 0;
}
footer p:nth-of-type(1){
  width: 90%;
  text-align: center;
  align-self: center;
}
footer img, footer section i{
  width: 16vw;
  font-size: 15vw;
  margin: 5vw;
}
footer section i{
  margin-left: 4vw;
}
footer img, footer section, footer section h2{
  align-self: center;
  font-weight: 500;
  text-align: center;
}
footer p:nth-of-type(2){
  padding: 5vw 0;
  text-align: center;
  background: #ffffff;
  border: solid 1.5px black;
}
/*-*******************************]]]][[[[*******************************-*/
   /*-------------------ESTILOS DEL MODO HORIZONTAL-------------------*/
/*-*******************************]]]][[[[*******************************-*/
@media only screen and (orientation: landscape){
  /*-------------------HEADER 812-------------------*/
  .banner img{
    width: 8vw;
  }
  .banner label img{
    width: 7vw;
  }
  nav{
    font-size: 2.5vw;
  }
  header p{
    width: 40vw;
    bottom: 25vw;
    left: 50vw;
  }
  /*-------------------CONTENIDO 812-------------------*/
  article{
    display: grid;
    grid: 0fr 0fr / 1fr 1fr;
  }
  article h2{
    grid-column: 1/3;
  }
  article:nth-of-type(1) img,
  article:nth-of-type(3) img{
    grid-column: 2/3;
  }
  article:nth-of-type(1) div,
  article:nth-of-type(3) div{
    grid-column: 1/2;
    grid-row: 2/3;
  }
  article div{
    align-self: center;
    justify-self: center;
    width: 90%;
    clip-path: polygon(15% 0, 100% 0, 100% 75%, 85% 100%, 0 100%, 0 25%);
    transform: unset;
    height: 24vw;
    position: unset;
  }
  article div p{
    margin: 1.2vw 0;
    text-align: center;
    width: 80%;
    transform: unset;
  }
  article:nth-of-type(2) div{
    margin-bottom: 0;
  }
  /*-------------------PIE DE PAGINA 812-------------------*/
  footer{
    position: unset;
  }
  footer img, footer section i{
    width: 8vw;
    font-size: 7vw;
    margin: 5vw 3vw 0;
  }
  footer p:nth-of-type(2){
    padding: 3vw 0;
  }
}
/*-*******************************]]]][[[[*******************************-*/
     /*-------------------ESTILOS DEL MODO DESKTOP-------------------*/
/*-*******************************]]]][[[[*******************************-*/
@media only screen and (min-width: 1080px){
  /*-------------------HEADER 1080-------------------*/
  .banner{
    font-size: 2vw;
    padding: 1.3vw;
    display: flex;
    justify-content: space-between ;
  }
  .banner img{
    width: 2.5vw;
    transform: scale(1.5);
  }
  .banner img:hover{
    transform: scale(1.3);
  }
  .banner label{
    display: none;
  }
  .banner .side-menu{
    display: flex;
  }
  ul,li{
    font-size: 1.2vw;
    display: flex;
    margin-left: 1.5vw;
  }
  li:before{
    content: "|";
    margin-right: 1.5vw;
  }
  header picture img{
    width: 100%;
  }
  header p{
    width: 34vw;
    bottom: 18vw;
    left: 58vw;
  }
  /*-------------------CONTENIDO 1080-------------------*/
  main{
    display: grid;
    gap: .5vw;
    width: 98%;
    grid: 50% 50% / 50% 50%;
    margin: 0 .7vw .5vw;
  }
  article{
    border: solid .2vw #cccccc50;
    display: flex;
    padding-bottom: 5vw;
    flex-direction: column;
  }
  article div{
    clip-path: polygon(15% 0, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
    width: 70%;
    height: 16vw;
  }
  article div p{
    margin: .5vw 0;
    text-align: center;
    width: 90%;
  }
  article img{
    width: 75%;
    align-self: center;
  }
  /*-------------------PIE DE PAGINA 1080-------------------*/
  footer img, footer section i{
    width: 6vw;
    font-size: 5vw;
    margin: 5vw 2vw 0;
  }
  footer p:nth-of-type(2){
    padding: 2vw 0;
  }
}